<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HelloNandiniServlet</display-name>
    <servlet-name>HelloNandiniServlet</servlet-name>
    <servlet-class>com.Nandini.servlets.HelloNandiniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloNandiniServlet</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <display-name>Nandinijava</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SQLiteConnectionServlet</display-name>
    <servlet-name>SQLiteConnectionServlet</servlet-name>
    <servlet-class>Com.Nandini.servlets.SQLiteConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SQLiteConnectionServlet</servlet-name>
    <url-pattern>/SQLiteConnectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SQLiteConnectionServlete</display-name>
    <servlet-name>SQLiteConnectionServlete</servlet-name>
    <servlet-class>com.Nandini.servlets.SQLiteConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SQLiteConnectionServlete</servlet-name>
    <url-pattern>/SQLiteConnectionServlete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>abc</display-name>
    <servlet-name>abc</servlet-name>
    <servlet-class>com.Nandini.servlets.abc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc</servlet-name>
    <url-pattern>/abc</url-pattern>
  </servlet-mapping>
</web-app>